.hidden { 
    display: none;
}

.showCloak {
    position: fixed;
    width: 100%;
    top:0;
    left:0;
    bottom:0;
    right:0;
    opacity: 0.7;
    background-color: aquamarine;
    z-index: 500;
}